* {
  font-family: monospace;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

#waybar {
  background: #2e3440;
  color: #eceff4;
}

#workspaces button {
  padding: 0 10px;
  color: #eceff4;
}

#workspaces button.active {
  background: #5e81ac;
}

#clock {
  padding: 0 10px;
}

#tray, #pulseaudio {
  padding: 0 10px;
}
