/* Global */
* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}

/* Waybar window */
window#waybar {
    background: transparent;
    color: #ffffff;
}

/* Common spacing & uniform size */
#workspaces,
#clock,
#tray,
#pulseaudio,
#battery {
    font-size: 14.5px;
    font-weight: 500;
    padding: 2px 8px; /* vertical + horizontal padding */
}

/* Dim inactive modules */
#tray,
#pulseaudio,
#battery {
    opacity: 0.85;
}

#pulseaudio.muted {
    opacity: 0.6;
}

/* Workspaces */
#workspaces button {
    padding: 2px 6px; /* vertical + horizontal */
    background: transparent;
    color: #ffffff;  /* text/icons white */
    border: none;
}

#workspaces button:hover {
    color: #ffffff;  /* text/icons white */
}

#workspaces button.focused {
    color: #ffffff;  /* text/icons white */
    border-bottom: 2px solid #ffffff;
}

#workspaces button.urgent {
    color: #ffffff;  /* text/icons white */
}

/* Clock */
#clock {
    opacity: 0.9;
    color: #ffffff;  /* text/icons white */
}

/* Battery states */
#battery.warning {
    color: #ffffff;  /* text/icons white */
}

#battery.critical:not(.charging) {
    color: #ffffff;  /* text/icons white */
}

#battery.charging,
#battery.plugged {
    color: #ffffff;  /* text/icons white */
}
