/* Global */
* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Waybar window */
window#waybar {
    background: transparent;
}

/* Workspaces */
#workspaces button {
    padding: 4px 8px;
    margin-right: 10px;
    background: transparent;
    border: none;
}

/* Common spacing */
#workspaces,
#clock,
#tray,
#pulseaudio,
#network,
#battery {
    font-size: 14.5px;
    font-weight: 500;
    padding: 2px 8px;
}
